:root{
  --light-blue: rgb(0, 122, 255);
  --dark-blue:rgb(10, 132, 225);

  --light-green:rgb(52, 199, 89);
  --dark-green:rgb(48, 209, 88);

  --light-purple: rgb(88, 86, 214);
  --dark-purple:rgb(94, 92, 230);

  --light-orange:rgb(65, 61, 54);
  --dark-orange: rgb(225, 159, 10);

  --light-pink: rgb(255, 45, 85);
  --dark-pink: rgb(255, 55, 95);

  --light-red: rgb(255, 59, 48);
  --dark-red:rgb(255, 69, 58);

  --light-teal: rgb(90, 200, 250);
  --dark-teal: rgb(100, 210, 255);

  --light-yellow:rgb(255, 204, 0);
  --dark-yellow: rgb(255, 214, 10);

  --grey-1-light: rgb(174, 174, 178);
  --grey-1-dark: rgb(142,142,147);

  --grey-2-light:rgb(174, 174, 178);
  --grey-2-dark: rgb(99,99,102);

  --prosparity-pink:#db3db5;
  --black:rgb(28, 28, 30);
  --font-primary:'Poppins', sans-serif;
    body {
        font-family:var( --font-primary);
        font-weight: 300px;
        color: var(--black);
    }

    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
    }
}
